## 1. Create and Access List Elements
Create a list containing five different fruits and print the third fruit.

In [1]:
fruits = ['banana', 'apple', 'cherry', 'watermelon', 'strawberry']

print(fruits[2])

cherry

## 2. Concatenate Two Lists
Create two lists of numbers and concatenate them into a single list.

In [2]:
num1 = [24, 28, 32, 36]
num2 = [25, 27, 29, 31]

num1.extend(num2)

num1

[24, 28, 32, 36, 25, 27, 29, 31]

## 3. Extract Elements from a List
Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

In [4]:
numbers = [25, 32, 56, 68, 96, 104]

first = numbers[0]
middle = numbers[len(numbers)//2]
last = numbers[-1]

new_list = [first, middle, last]

new_list

[25, 68, 104]

## 4. Convert List to Tuple
Create a list of your five favorite movies and convert it into a tuple.

In [6]:
movies = ['Seven', 'Fight Club', 'Inglorious Basterds', 'Django Unchained', 'Inception']

movies2 = tuple(movies)

print(movies2)
print(type(movies2))

('Seven', 'Fight Club', 'Inglorious Basterds', 'Django Unchained', 'Inception')
<class 'tuple'>

## 5. Check Element in a List
Given a list of cities, check if "Paris" is in the list and print the result.

In [7]:
cities = ['Moscow', 'Tashkent', 'Dubai', 'Paris', 'Berlin']

if 'Paris' in cities:
    print('Paries in cities')
else:
    print("Paris is not in cities")

Paries in cities

## 6. Duplicate a List Without Using Loops
Create a list of numbers and duplicate it without using loops.

In [12]:
numbers = [25, 28, 32, 36, 44, 56]

dupilcate = numbers * 2

print(dupilcate)

[25, 28, 32, 36, 44, 56, 25, 28, 32, 36, 44, 56]

## 7. Swap First and Last Elements of a List
Given a list of numbers, swap the first and last elements.

In [16]:
numbers = [25, 28, 32, 36, 44, 56]

numbers[0],numbers[-1] = numbers[-1], numbers[0]

numbers

[56, 28, 32, 36, 44, 25]

## 8. Slice a Tuple
Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

In [18]:
numbs = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

print(numbs[3:7])

(4, 5, 6, 7)

## 9. Count Occurrences in a List
Create a list of colors and count how many times "blue" appears in the list.

In [23]:
colors = ['red', 'yellow', 'blue', 'green', 'blue', 'black']

count = colors.count('blue')

print(count)

2

## 10. Find the Index of an Element in a Tuple
Given a tuple of animals, find the index of "lion".

In [24]:
animals = ("cat", "dog", "lion", "tiger", "elephant")

print(animals.index("lion"))

2

## 11. Merge Two Tuples
Create two tuples of numbers and merge them into a single tuple.

In [25]:
numb1 = 25, 27, 29, 32
numb2 = 33, 36, 29, 43

joined = numb1 + numb2

joined

(25, 27, 29, 32, 33, 36, 29, 43)

## 12. Find the Length of a List and Tuple
Given a list and a tuple, find and print their lengths.

In [26]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ("apple", "banana", "cherry")

print(len(my_list))
print(len(my_tuple))

5
3

## 13. Convert Tuple to List
Create a tuple of five numbers and convert it into a list.

In [27]:
tuple_numb = 67, 69, 32, 65, 46
list_numb = list(tuple_numb)
list_numb

[67, 69, 32, 65, 46]

## 14. Find Maximum and Minimum in a Tuple
Given a tuple of numbers, find and print the maximum and minimum values.

In [28]:
tuple_numb = 67, 69, 32, 65, 46

print(max(tuple_numb))
print(min(tuple_numb))

69
32

## 15. Reverse a Tuple
Create a tuple of words and print it in reverse order.

In [29]:
words = ("apple", "banana", "cherry", "date")
print(words[::-1])

('date', 'cherry', 'banana', 'apple')