### 1. Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.

In [1]:
import sqlite3

connection = sqlite3.connect("sample_db.db")

cursor = connection.cursor()

query = """create table if not exists Roster (Name varchar(50),
                                Species varchar(50),
                                Age int)"""

cursor.execute(query)

connection.commit()
connection.close()

### 2. Populate your new table with the following values:

In [2]:
import sqlite3

connection = sqlite3.connect("sample_db.db")
cursor = connection.cursor()

insert_query = """
INSERT INTO Roster (Name, Species, Age) VALUES
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29);
"""

cursor.execute(insert_query)

connection.commit()
connection.close()

In [ ]:
import sqlite3

with sqlite3.connect("sample_db.db") as connection:
    cursor = connection.cursor()

    insert_query = """Insert into Roster values ("Benjamin Sisko", "Human", 40),
                                            ("Jadzia Dax", "Trill", 300),
                                            ("Kira Nerys", "Bajoran", 29)"""

    cursor.executescript(insert_query)

### 3. Update the Name of Jadzia Dax to be Ezri Dax

In [5]:
import sqlite3

with sqlite3.connect("sample_db.db") as connection:
    cursor = connection.cursor()

    update_query = """UPDATE Roster
                      SET Name = 'Ezri Dax'
                      WHERE Name = 'Jadzia Dax'
    """

    cursor.execute(update_query)
    connection.commit()

### 4. Display the Name and Age of everyone in the table classified as Bajoran.

In [9]:
import sqlite3

with sqlite3.connect("sample_db.db") as conn:
    cursor = conn.cursor()

    sql_query = """
        SELECT Name, Age
        FROM Roster
        WHERE Species = 'Bajoran';
    """

    cursor.execute(sql_query)

    results = cursor.fetchall()

    for name, age in results:
        print(f"Name: {name}, Age: {age}")

Name: Kira Nerys, Age: 29