## 1. Modify String with Underscores
Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

Examples
Input: hello Output: hel_lo

Input: assalom Output: ass_alom

Input: abcabcabcdeabcdefabcdefg Output: abc_abc_abcd_abcd_abcdef

In [5]:
txt = input("Enter a string: ")
result = ""
count = 0
i = 0

while i < len(txt):
    result += txt[i]
    count += 1

    if count == 3:
        if i + 1 < len(txt) and (txt[i + 1] in "aeiou" or txt[i + 1] == "_"):
            result += txt[i + 1]
            result += "_"
            i += 1
        else:
            result += "_"
        count = 0
    i += 1

if result.endswith("_"):
    result = result[:-1]

print("Modified string:", result)

Modified string: Jalo_lid_din

2. Integer Squares Exercise
Task
The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

Example Input
5
Example Output
0
1
4
9
16
Input Format
The first and only line contains the integer, n.

Constraints
1 <= n <= 20
Output Format
Print n lines, one corresponding to each i^2 where 0 <= i < n.

In [10]:
n = int(input('Enter a number'))

for x in range(n):
    print(x * x)

0
1
4
9
16
25
36
49
64
81
100
121

3. Loop-Based Exercises
Exercise 1: Print first 10 natural numbers using a while loop
Exercise 2: Print the following pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
Exercise 3: Calculate sum of all numbers from 1 to a given number
Example:

Enter number 10
Sum is: 55

In [12]:
i = 1

while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(1, 6): 
    for j in range(1, i + 1): 
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
n = int(input("Enter number: "))

total = 0
for i in range(1, n + 1):
    total += i

print("Sum is:", total)

Sum is: 55

Exercise 4: Print multiplication table of a given number
Example:

2
4
6
8
10
12
14
16
18
20

In [19]:
n = int(input())

for x in range(1, n+1):
    print(x*2)

2
4
6
8
10
12
14
16
18
20

Exercise 5: Display numbers from a list using a loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected Output:

75
150
145

In [23]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num > 500:
        break  
    if num % 5 == 0:
        if num > 150:
            continue  
        print(num)

75
150
145

Exercise 6: Count the total number of digits in a number
Example:

75869
Output: 5

In [25]:
num = input("Enter a number")
count = len(num)
print("Output:", count)

Output: 3

Exercise 7: Print reverse number pattern
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [28]:
for i in range(5, 0, -1): 
    for j in range(1, i + 1): 
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

Exercise 8: Print list in reverse order using a loop
Given:

list1 = [10, 20, 30, 40, 50]
Expected Output:

50
40
30
20
10

In [29]:
list1 = [10, 20, 30, 40, 50]

for i in list1[::-1]:
    print(i)

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using a for loop
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [30]:
for i in range(-10, 0):  
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Display message “Done” after successful loop execution
Example:

0
1
2
3
4
Done!

In [31]:
for i in range(5):
    print(i)
    continue
print("Done")

0
1
2
3
4
Done

Exercise 11: Print all prime numbers within a range
Example:

Prime numbers between 25 and 50:
29
31
37
41
43
47

In [ ]:
start = 25
end = 50

for num in range(25, 50):
    if num > 1:  
        is_prime = True

        for i in range(2, int(num ** 0.5) + 1):  
            if num % i == 0:
                is_prime = False
                break

        if is_prime:
            print(num)

29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms
Example:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [38]:
a = 0
b = 1

for i in range(10):
    print(a, end=" ")
    c = a + b  
    a = b      
    b = c

0 1 1 2 3 5 8 13 21 34

Exercise 13: Find the factorial of a given number
Example:

5! = 120

In [39]:
num = int(input("Enter a number: "))

factorial = 1

for i in range(1, num + 1):
    factorial *= i  

print(f"{num}! = {factorial}")

23! = 25852016738884976640000

4. Return Uncommon Elements of Lists
Task
Return the elements that are not common between two lists. The order of elements does not matter.

Examples
Input: list1 = [1, 1, 2], list2 = [2, 3, 4]
Output: [1, 1, 3, 4]

Input: list1 = [1, 2, 3], list2 = [4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

Input: list1 = [1, 1, 2, 3, 4, 2], list2 = [1, 3, 4, 5]
Output: [2, 2, 5]

In [40]:
list1 = [1, 1, 2, 3, 4, 2]
list2 = [1, 3, 4, 5]

result = []

for x in list1:
    if x not in list2:
        result.append(x)

for y in list2:
    if y not in list1:
        result.append(y)

print(result)

[2, 2, 5]